<style>
.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #DDEEDB;
  color: black;
  text-align: center;

  position: absolute;


  height: 2.5rem;
}
</style>

<!-- <footer class="footer ">
<div class="row">
  <div class="col-md-4">
    <p>A paragraph is defined as “a group of sentences. </p>
  </div>
  <div class="col-md-4">
    <p>A paragraph is defined as “a group of sentences.</p>
  </div>
  <div class="col-md-4">
    <p>A paragraph is defined as “a group of sentences.</p>
  </div>


</div>
</footer> -->
<style >
  .bot {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.bot a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bot a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bot a.active {
  background-color: #4CAF50;
  color: white;
}

</style>

<!-- <nav class="navbar bot">
  <a href="#" >check</a>
  <a href="#" class="">another</a>
  <a href="#">Third</a>
  <a href="#">Four</a>
</nav> -->


<nav class="navbar  navbar-expand-sm navbar-dark bg-dark ">
      <a class="navbar-brand" href="#"><small>@since2019</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"></a>
          </li>

        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Support <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"></a>
          </li>

        </ul>
      </div>
      <!-- <ul class="navbar-nav">
        <!-- <li class="nav-item dropup  ">
          <a class="nav-link dropdown-toggle" href="https://getbootstrap.com/" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <li><a class="nav-item" href="#">Action</a></li>
            <li><a class="nav-item" href="#">Another action</a></li>
            <li><a class="nav-item" href="#">Something else here</a></li>
          <!-- </div>
        </li>
      </ul> -->
    </nav>
